<div class="pagination">
    {{#if prev}}
    <a class="page-link page-prev" href="{{page_url prev}}">&larr; newer posts</a>
    {{/if}}
    <span class="page-number">page {{page}} of {{pages}}</span>
    {{#if next}}
    <a class="page-link page-next" href="{{page_url next}}">older posts &rarr;</a>
    {{/if}}
</div>